:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.87);
  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(the_scream_small.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

h1 {
  text-align: center;
  font-size: 2.2em;
  margin: auto;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 15%;
  text-decoration-color: rgb(255, 228, 196);
}

h2 {
  text-align: center;
  font-size: 1.8rem;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 35%;
  text-decoration-color: rgb(255, 228, 196);
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  width: 100%;
  margin: 0;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 1.5rem;
  font-family: inherit;
  color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  width: fit-content;
}
button:hover {
  border-color: rgb(174, 140, 100);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.btn--delete {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  transition: background-color 0.25s;
}
.btn--delete:hover {
  border-color: darkred;
  background-color: rgba(184, 66, 66, 0.801);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 0;
  text-align: left;

  p {
    margin-bottom: 0;
  }

  ul {
    list-style-type: none;

    li {
      margin-top: 1.5rem;
      font-weight: bold;
      letter-spacing: 0.1rem;
      text-transform: uppercase;

      .task-description,
      .task-deadline {
        font-weight: 400;
        letter-spacing: normal;
        text-transform: none;
      }
    }
  }

  label {
    margin-top: 1.5rem;
    font-size: 1.2em;
  }

  .text-input {
    width: 40%;
    height: fit-content;
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .check-input {
    margin-left: 2rem;
  }
}

input:checked {
  accent-color: rgb(174, 140, 100);
}

.finished-tasks {
  color: darkgray;
}

@media screen and (min-width: 480px) {
  body {
    background-image: url(the_scream.png);
    background-repeat: no-repeat;
    background-position: center 15%;

    h1 {
      font-size: 3.2em;
    }

    h2 {
      font-size: 2.2rem;
    }
  }

  #app {
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    text-align: left;

    section {
      width: 35%;
      background-color: rgba(255, 255, 255, 0.6);

      li {
        margin-bottom: 2rem;
      }
    }
  }
  .text-input {
    max-width: 25%;
  }
}
